* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 2px solid black;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 2rem;
  background-color: bisque;
  margin-bottom: 2rem;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.box {
  border: 2px solid black;
  padding: 2rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 2px solid black;
}
