*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}
body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color:#333;
    background-color: #ebebeb;
}
nav{
    padding: 1rem 0;
    position:sticky;
    top:0;
    background-color:rgb(0, 0, 0);
    z-index: 101;
    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.2s ease;
}
nav a:hover{
    background: rgba(255,255,255,0.2);
    transform: translateY(-5px);
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}
.tab-content:target{
    display: block;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.projects{
    margin-top: 3rem;
   
}
.projects a{
     text-decoration: none;
     color:#0759a0;
}
.project-item p{
    color:black;
}
.project-item,.contact-item{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover,.contact-item:hover,.achievements:hover, .gallery-item:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px  #578bd0;
}
.skills li{
    transition: transform 0.2s ease, background 0.2s ease;
}


.skills li:hover{
    transform: scale(1.05);
    background: #f7d55a;
}

h3 a:hover{
    color:darkred;
}
.project-item{
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.project-item h3{
    color: #667eea;
    margin-bottom: 0.5rem;
}

.tech{
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #555;
}
.achievements{
    margin-top: 3rem;
    background-color: #f8f9fa;
    padding: 1rem 1rem ;
    border-radius: 20px;
}

.achievements ul{
    margin-top: 1.5rem;
    padding-left: 1.5rem;
}

.achievements li{
    margin-bottom: 0.8rem;
}
h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #667eea;
}
h2{
    font-size: 1.5rem;
    margin-bottom:1rem ;
    color: #0759a0;
}
p{
    margin-bottom: 1rem;
    font-size: 1rem;
}
#home{
    text-align: center;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    padding:2rem;
}
.hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#about .about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    align-items: center;
}

.skills{
    background: #8ab1d8;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}
.skills ul{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
    gap:1rem;
    margin-top: 2rem;
}
.skills li{
    background: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}
.achievements a{
    text-decoration: none;
}
.achievements a:hover{
    color:darkred;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap:3rem;
    margin-top: 2rem;
}
.contact-info {
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 10px;
}
.contact-info h2 {
    margin-bottom: 1.5rem;
}
.contact-item {
    display: flex;
    align-items: center;
    gap:1rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background: white;
    border-radius: 8px;
}
.contact-item a:hover{
    color:darkred;
}
.contact-details {
    flex: 1;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
    z-index: 100;
}
.gallery-item{  
    position: relative;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    overflow:hidden;
}
.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
}
.gallery-item:hover img{
    transform: scale(1.1);
}
footer 
{
    display: flex;
    justify-content: center;
    background: #2d3748;
    color: white;
    padding: 5rem;
    text-align: center;
    margin-top: 3rem;
    font-size: 1rem;
}
@media (max-width: 768px) {
    #about .about-content {
        grid-template-columns: 1fr;
    }       
    .hero h1 {
        font-size: 2rem;
    }
    nav ul {
        gap: 1rem;
    }
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
    .gallery-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
