.auth-template {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ecf1fa;
  padding: 40px;
}

.auth-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.auth-left img {
  width: 100%;
  max-width: 460px;
}

.auth-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

@media (max-width: 900px) {
  .auth-template {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .auth-left {
    display: none;
  }
}
